.header {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-dark-2, 0.7),
        rgba($color-grey-dark-3, 0.3)),
    url("/src/assets/img/truck-smoke.webp");
    background-size: cover;
    background-position: bottom;
    position: relative;
    
    
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 85%);
        height: 95vh;
    }
    
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-grey-dark-2, 0.5),
            rgba($color-grey-dark-3, 0.9)),
            url("/src/assets/img/truck-smoke-large.webp");
            background-position: bottom;
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}